# Terraform
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/crash.log

# Variables
*.tfvars
*.tfvars.json

# SSH Keys
*.pem
*-key
*-key.pub

# VS Code
.vscode/

# Keep Terraform lock file
!.terraform.lock.hcl