.terraform.lock.hcl
.terraform.tfstate.d/dev
.terraform-modules-app/terraform.tfstate.backup
.terraform-modules-app/terraform.tfstate
.terraform-modules-app/terraform-key.pub
.terraform-modules-app/terraform-key
.terraform-modules-app/.terraform.lock.hcl
.terraform-modules-app/.terraform
.terraform-ec2-instances/terraform-key
.terraform-ec2-instances/terraform-key.pub
.terraform-ec2-instances/terraform.tfstate
.terraform-ec2-instances/terraform.tfstate.backup
.terraform-ansible/terraform.tfstate.backup
.terraform-ansible/terraform.tfstate
.terraform-ansible/tera-key-ansible.pub
.terraform-ansible/tera-key-ansible.pem
.terraform-ansible/.terraform.lock.hcl
.terraform-ansible/.terraform
.terraform_eks/.terraform
.terraform_eks/.terraform.lock.hcl
.terraform_eks/terraform.tfstate
.terraform_eks/terraform.tfstate.backup
.remote-infra/.vscode
.remote-infra/.terraform
.terraform
.vscode
.dist
.C:\Users\kajal\Documents\terraform\.terraform
# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log
*.tfvars
*.tfvars.json